/*
This stylesheet focuses on the basic design and layout.
*/

body {
    background: url(../media/background.png);
    background-size: cover;
}

#notificationArea, #mainArea, #navigationArea {
    width: 100%;
    background-color: rgba(209, 187, 255, 0.6);
    border-radius: 20px;
}

@media only screen and (min-width: 700px) {
    body {
        display: grid;
        grid-template-columns: repeat(23, 1fr);
        column-gap: 10px;
        box-sizing: content-box;
        margin: 2.5vh 0;
    }

    #notificationArea {
        height: 95vh;
        grid-column: 2 / 8;
        grid-row: span 2;
    }

    #mainArea {
        height: 86vh;
        grid-column: 8 / 23;
        margin-bottom: 1vh;
    }

    #navigationArea {
        height: 8vh;
        padding: 0 1%;
        grid-column: 8 / 23;
    }
}

@media only screen and (max-width: 700px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3);
        row-gap: 1vh;
        margin: 2vh 3%;
    }

    #notificationArea {
        grid-row: 1 / 2;
        height: 11vh;
    }

    #mainArea {
        grid-row: 2 / 3;
        height: 74vh;
    }

    #navigationArea {
        grid-row: 3 / 4;
        height: 8vh;
    }
}