/*
This stylesheet focuses on the basic design and layout.
*/

#navigationArea {
    display: flex;
    padding: 0 1%;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
}

.navigationOption {
    background-color: #5000A1;
    color: white;
}

.navigationOption:hover {
    background-color: #320166;
    cursor: pointer;
}

.navigationOption {
    display: flex;
    gap: 1vw;
    width: 23%;
    height: 75%;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigationOption img {
    height: 80%;
}

@media only screen and (max-width: 900px) {
    .navigationOption label {
        display: none;
    }
}