/*
This stylesheet focuses on the design and layout for the notification area.
*/

#notificationArea {
    display: flex;
    flex-direction: row;
}

@media only screen and (min-width: 700px) {
    #notificationArea #hat {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 1vw;
        padding: 0 1vw;
        box-sizing: border-box;
        width: 100%;
        height: 12vh;
        background-color: #610C9B;
        border-radius: 20px 20px 0 0;
        color: white;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: clamp(1rem, 2vw, 3rem);
    }
}

@media only screen and (max-width: 700px) {
    #notificationArea #hat {
        display: none;
    }
}